:root {
    --Moderate-violet: #7541c8;
    --Very-dark-grayish-blue: #48556a;
    --Very-dark-blackish-blue: #19212e;
    --White: #ffffff;
    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #ecf2f8;

    --font-Barlow-Semi-Condensed: "Barlow Semi Condensed", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-Barlow-Semi-Condensed);
}