@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Light-red: #ff5757;
    --Orangey-yellow: #ffb01f;
    --Green-teal: #00bd91;
    --Cobalt-blue: #1125d4;
    --Light-slate-blue: #7857ff;
    --Light-royal-blue: #2e2be9;
    --Violet-blue: #4e21ca;
    --Persian-blue: #2421ca00;
    --White: #ffffff;
    --Pale-blue: #ebf1ff;
    --Light-lavender: #c8c7ff;
    --Dark-gray-blue: #303b5a;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-Hanken-Grotesk: "Hanken Grotesk";
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Pale-blue);
    font-family: var(--font-Hanken-Grotesk);
}

main {
    display: flex;
    background-color: var(--White);
    width: 736px;
    height: 512px;
    border-radius: 30px;
}

.result {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#7857ff,#2e2be9);
    width: 368px;
    height: 512px;
    border-radius: 30px;
}

.result h1 {
    text-align: center;
    color: var(--Light-lavender);
    margin-top: 45px;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(#4e21ca,#2421ca00);
    text-align: center;
    margin-top: 35px;
    
}

.numbers .p1 {
    font-size: 4.5em;
    font-weight: 900;
    color: var(--White);
    margin-top: 50px;
}

.numbers .p2 {
    font-size: 1.1em;
    margin-top: -10px;
    color: var(--Light-lavender);
}

.result h2 {
    color: var(--White);
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.result p {
    color: var(--Light-lavender);
    font-size: 1.1em;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary h2 {
    font-size: 1.6em;
    font-family: 700;
    color: var(--Dark-gray-blue);
    margin-left: 40px;
    margin-top: 45px;
}

.lista {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.lista .f-1 {
    display: flex;
    background-color: #ff575712;
    color: var(--Light-red);
    width: 288px;
    height: 55px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.f-1 img {
    margin-left: 15px;
}

.f-1 p {
    font-size: 1.1em;
    margin-left: 10px;
    align-self: center;
    
}

.lista .f-2 {
    display: flex;
    background-color: #ffb11f12;
    color: var(--Orangey-yellow);
    width: 288px;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.f-2 img {
    margin-left: 15px;
}

.f-2 p {
    font-size: 1.1em;
    margin-left: 10px;
    align-self: center;
    
}

.lista .f-3 {
    display: flex;
    background-color: #00bd9112;
    color: var(--Green-teal);
    width: 288px;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.f-3 img {
    margin-left: 15px;
}

.f-3 p {
    margin-left: 10px;
    align-self: center;
    
}

.lista .f-4 {
    display: flex;
    background-color: #1124d410;
    color: var(--Cobalt-blue);
    width: 288px;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 35px;
}

.f-4 img {
    margin-left: 15px;
}

.f-4 p {
    margin-left: 10px;
    align-self: center;
    
}

.num1 {
    color: var(--Dark-gray-blue);
    margin-left: 85px;
}

.num2 {
    color: var(--Light-lavender);
}

.num3 {
    color: var(--Dark-gray-blue);
    margin-left: 105px;
}

.num4 {
    color: var(--Light-lavender);
}

button {
    background-color: var(--Dark-gray-blue);
    font-size: 1em;
    font-weight: 700;
    color: white;
    width: 288px;
    height: 55px;
    margin-left: 35px;
    border-radius: 28px;
    border: none;
}

button:hover {
    transform: scale(1.05);
    transition-duration: .5s;
}
