@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Dark-cyan: #19a2ae;
    --Very-dark-desaturated-blue: #2d3248;
    --Dark-grayish-blue: #6a6f81;
    --Dark-gray: #969696;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-Kumbh-Sans: "Kumbh Sans";
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-Kumbh-Sans);
    background-color: var(--Dark-cyan);
}

.container {
    background-color: white;
    width: 350px;
    height: 374px;
    border-radius: 13px;
}

.image .img-fundo {
    width: 350px;
    height: 140px;
    border-radius: 13px 13px 0px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .img-usuario {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -60px;
}

.info .name {
    font-size: 1.1em;
    font-weight: 800;
    color: var(--Very-dark-desaturated-blue);
    margin-top: 20px;
}

.info .name span {
    margin-left: 7px;
    font-weight: 400;
    color: var(--Dark-gray);
}

.info .country {
    font-size: .9em;
    color: var(--Dark-gray);
    margin-top: 10px;
    margin-bottom: 25px;
}

.num {
    border-top: 1px solid var(--Dark-gray);
}

.num ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;

}

.num ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

.num ul li span {
    margin-top: 5px;
    color: var(--Dark-gray);
    font-weight: 400;
    font-size: .6em;
}


