@media (max-width: 720px) {

    :root {
       --Very-Dark-Blue: #070439;
       --Desaturated-Blue: #585989; 
       --Bright-Blue: #3065f8;
       --Moderate-Cyan: #3c9f8f;
       --Light-Grayish-Blue: #f6f6fe;
       --Light-Gray: #bfbfbf;

       --Open-Sans:"Open Sans", sans-serif;
       --Raleway: "Raleway", sans-serif;
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    body {
        padding: 20px;
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        font-family: var(--Open-Sans);
        padding-bottom: 90px;
    }

    .cabecalho__logo {
        display: flex
    }

    .cabecalho__logo img {
        width: 100px;
    }

    .cabecalho__nav-lista {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 100%;
    }
    
    .cabecalho__nav-lista  a {
        color: var(--Very-Dark-Blue);
        width: 500px;
        font-size: 1rem;
    }

    .hero {
        font-family: var(--Open-Sans);
        text-align: center;
    }

    .hero__image img {
        width: 350px;
        padding-bottom: 40px;
    }

    .hero__text h1 {
        font-size: 1.80rem;
        padding-bottom: 20px;
    }

}