:root {
    --Very-Dark-Blue: #070439;
    --Desaturated-Blue: #585989;
    --Bright-Blue: #3065f8;
    --Moderate-Cyan: #3c9f8f;
    --Light-Grayish-Blue: #f6f6fe;
    --Light-Gray: #bfbfbf;

    --Open-Sans: "Open Sans", sans-serif;
    --Raleway: "Raleway", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--Light-Grayish-Blue);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    font-family: var(--Open-Sans);
    padding: 20px 20px 90px 20px;

}

.cabecalho__logo {
    display: flex
}

.cabecalho__logo img {
    width: 100px;
}

.cabecalho__nav-lista {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.cabecalho__nav-lista a {
    color: var(--Very-Dark-Blue);
    width: 500px;
    font-size: 1rem;
}

.hero {
    font-family: var(--Open-Sans);
    text-align: center;
    padding: 20px;
}

.hero__image img {
    width: 350px;
    padding-bottom: 40px;
}

.hero__text h1 {
    font-size: 1.60rem;
    color: var(--Very-Dark-Blue);
    padding-bottom: 20px;
}

.hero__text p {
    font-size: 1rem;
    color: var(--Very-Dark-Blue);
    font-weight: 500;
    padding-bottom: 25px;
}

.formulario__email {
    width: 100%;
    height: 45px;
    border: 2px solid var(--Very-Dark-Blue);
    border-radius: 5px;
    padding-left: 20px;
    font-family: var(--Open-Sans);
    margin-bottom: 20px;
}

.formulario__bnt {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-family: var(--Open-Sans);
    background-color: var(--Bright-Blue);
    color: var(--Light-Grayish-Blue);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 100px;
}

.info {
    text-align: center;
    padding: 20px;
}

.info__image img {
    width: 350px;
    padding-bottom: 70px;
}

.info__text h1 {
    font-family: var(--Open-Sans);
    font-size: 1.1rem;
    color: var(--Very-Dark-Blue);
    padding-bottom: 5px;
}

.info__text p {
    font-family: var(--Open-Sans);
    color: var(--Desaturated-Blue);
    text-align: left;
    padding-top: 20px;
    font-weight: 500;
    font-size: .9rem;
}

.link__fylo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.link__fylo a {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--Moderate-Cyan);
    color: var(--Moderate-Cyan);
    font-family: var(--Open-Sans);
}

.card {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.card__info {
    background-color: white;
    width: 320px;
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    box-shadow: 0 0 30px var(--Light-Gray) ;
}

.card__info img {
    justify-content: flex-start;
    width: 20px;
    border-radius: 50%;
    font-family: var(--Open-Sans);
    margin-bottom: 5px;
}

.card__info-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--Very-Dark-Blue);
    line-height: 20px;
}

.card__perfil {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    margin-top: 10px;
}

.card__perfil img{
    width: 35px
}

.card__perfil-text {
    font-size: .9rem;
}

.card__perfil-name {
    font-weight: 800;
    margin-bottom: 5px;
}

.card__perfil-prof {
    font-size: .6rem;
    color: var(--Desaturated-Blue);
}

.acesso {
    background-color: var(--Desaturated-Blue);
    color: white;
    font-family: var(--Open-Sans);
    height: 40vh;
    padding: 30px;
    text-align: center;
    font-family: var(--Open-Sans);
}

.acesso h2 {
    font-size: 1.2rem;
    margin-top: 20px;
}

.acesso p {
    font-size: .9rem;
    line-height: 22px;
    margin-top: 20px;
    color: var(--Light-Grayish-Blue);
}

.acesso__formulario {
    margin-top: 20px;
}

.acesso__formulario-email {
    width: 85%;
    height: 40px;
    padding-left: 10px ;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
}

.acesso__formulario-email::placeholder {
    color: var(--Light-Gray);
}

.acesso__formulario-bnt {
    width: 85%;
    height: 40px;
    border-radius: 3px;
    background-color: var(--Bright-Blue);
    color: var(--Light-Grayish-Blue);
    border: none;
    font-size: .9rem;
    font-weight: 600;
}

.rodape {
    background-color: var(--Very-Dark-Blue);
    height: 75vh;
    padding: 30px;
    font-family: var(--Open-Sans);
    color: white;
}

.rodape__logo {
    margin: 25px 0;
}

.rodape__contatos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.rodape__contatos li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.rodape__links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rodape__links-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape__links-info a {
    color: white;
    font-size: 1.1rem;
}

.rodape__links-midias {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}