@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5E1EF;
    font-family: "Outfit";
}

main {
    background-color: white;
    width: 288px;
    height: 465px;
    border-radius: 20px;
    padding: 16px;
}

main img {
    width: 288px;
    border-radius: 10px;
}

main h1 {
    font-size: 1.4em;
    text-align: center;
    color: #1F314F;
    margin-top: 24px;
    width: 288px;
    height: 56px;
}

main p {
    margin: 16px 16px 0px 16px;
    text-align: center;
    color: #7D889E;
    width: 256px;
    height: 57px;
}