@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --font-Young-Serif: "Young Serif", serif;
    --font-Outfit: "Outfit", sans-serif;

    --Nutmeg: #854632;
    --Dark-Raspberry: #7b284f;
    --White: #ffffff;
    --Rose-White: #fff5fa;
    --Eggshell: #f3e6d8;
    --Light-Grey: #e4ded8;
    --Wenge-Brown: #5f574e;
    --Dark-Charcoal: #302d2c;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e5d8;
}

main {
    background-color: var(--White);
    width: 650px;
    height: 1625px;
    padding: 42.5px;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

.omelette {
    width: 650px;
    height: 300px;
    border-radius: 15px;
}

.titulo h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 2.5em;
    font-family: var(--font-Young-Serif);
    font-weight: 500;
}

.titulo p {
    margin-bottom: 30px;
    font-family: var(--font-Outfit);
    font-weight: 500;
}

.preparacao {
    background-color: #7b284f17;
    height: 130px;
    width: 590px;
    border-radius: 15px;
    padding: 25px 20px;
}

.preparacao h2 {
    font-family: var(--font-Outfit);
    font-size: 1.3em;
    color: #7b284f;
}

.preparacao ul {
    font-family: var(--font-Outfit);
    font-size: .9em;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
    line-height: 30px;
}

.preparacao ::marker {
    color: var(--Dark-Raspberry);
}

.preparacao .dados-preparacao {
    margin-left: 15px;
}

.ingredientes {
    font-family: var(--font-Young-Serif);
}

.ingredientes h3 {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--Nutmeg);
    margin-top: 35px;
    margin-bottom: 25px;
}

.ingredientes ul {
    font-family: var(--font-Outfit);
    font-size: .9em;
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.ingredientes ::marker {
    color: var(--Nutmeg);
}

.ingredientes .dados-ingredientes {
    margin-left: 10px;
}

.instrucoes {
    margin-top: 30px;
}

.instrucoes h3 {
    font-family: var(--font-Young-Serif);
    font-size: 1.8em;
    font-weight: 500;
    color: var(--Nutmeg);
    margin-bottom: 25px;
}

.instrucoes ol {
    font-family: var(--font-Outfit);
    font-size: .9em;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: justify;
}

.instrucoes ::marker {
    color: var(--Nutmeg);
    font-weight: 900;
}

.instrucoes li {
    margin-bottom: 15px;
}

.instrucoes .dados-instrucoes {
    margin-left: 15px;
}

.instrucoes span {
    margin-left: 30px;
}

.nutri {
    margin-top: 30px;
}

.nutri h3 {
    font-family: var(--font-Young-Serif);
    font-size: 1.8em;
    font-weight: 500;
    color: var(--Nutmeg);
    margin-bottom: 20px;
}

.nutri .info-nutri {
    font-family: var(--font-Outfit);
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 20px;
}

.nutri .info-dados {
    font-family: var(--font-Outfit);
    font-size: .9em;
    font-weight: 500;
    padding: 15px;
    margin-left: 10px;
}

.nutri .dados-nutri {
    font-weight: 900;
    color: var(--Nutmeg);
    margin-left: 250px;
    text-align: center;
}

