@media screen and (max-width: 480px ) {

    :root {
        --Strong-Cyan: #26baa4;
        --Light-Blue: #6173ff;
        --Dark-Grayish-Blue: #4c545d;
        --Grayish-Blue: #9fabb2;

        --font-Bai-Jamjuree: "Bai Jamjuree", sans-serif;
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        font-family: var(--font-Bai-Jamjuree);
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url(../images/bg-header-mobile.png);
        background-size: cover;
        background-position: top center;

        min-height: 100vh;
        padding: 30px;
    }

    .hero-img {
        margin-top: 70px;
        margin-bottom: 60px;
    }

    .hero-text h1 {
        font-size: 2em;
        font-weight: 600;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
    }

    .hero-text p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
        max-width: 350px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        margin-top: 45px;
    }

    .hero-button-ios { 
        background-color: var(--Strong-Cyan);
        border-radius: 28px;
        width: 311px;
        height: 56px;
        border: none;
    }

    .hero-button-ios a {
        font-size: 1.2em;
        text-align: center;
        font-weight: 500;
        color: white;
    }

    .hero-button-ios:hover {
        transform: scale(1.05);
        transition-duration: .4s;
    }

    .hero-button-mac { 
        background-color: var(--Light-Blue);
        border-radius: 28px;
        width: 311px;
        height: 56px;
        margin-bottom: 40px;
        border: none;
    }

    .hero-button-mac a {
        font-size: 1.2em;
        text-align: center;
        font-weight: 500;
        color: white;
    }

    .hero-button-mac:hover {
        transform: scale(1.05);
        transition-duration: .4s;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        min-height: 100vh;
        padding: 30px;
        margin-top: 5px;
    }

    .info-text h2 {
        font-size: 1.8em;
        font-weight: 600;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-bottom: 25px;
    }

    .info-text p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        max-width: 350px;
        margin-bottom: 60px;
    }

    .info-img {
        display: flex;
        justify-content: center;
    }

    .info-img img {
        width: 330px;
    }

    .info-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        margin-top: 60px;
    }

    .list h3 {
        font-size: 1.5em;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-bottom: 15px;
    }

    .list p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        line-height: 30px;
        max-width: 320px;
        margin-bottom: 25px;
    }

    .acesso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: white;
        min-height: 100vh;
        padding: 30px;
    }

    .acesso-text h2 {
        font-size: 1.8em;
        font-weight: 600;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-bottom: 25px;
    }

    .acesso-text p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        max-width: 320px;
        margin-bottom: 60px;
    }

    .acesso-img img {
        width: 340px;
    }

    .ferramentas {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        min-height: 100vh;
        padding: 30px;
    }

    .ferramentas-text h2 {
        font-size: 1.8em;
        font-weight: 600;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-bottom: 20px;
    }

    .ferramentas-text p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        max-width: 320px;
        margin-bottom: 80px;
    }

    .ferramentas-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        margin-bottom: 50px;
    }

    .f-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .f-list h3 {
        font-size: 1.5em;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-top: 30px;
    }

    .f-list p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        line-height: 30px;
        max-width: 320px;
        margin-bottom: 25px;
    }

    .ferramentas-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        margin-top: 60px;
        margin-bottom: 40px;
    }

    .download {
        background-color: white;
        min-height: 80vh;
        padding: 30px;

        margin-top: 50px;
    }

    .download-text h2 {
        font-size: 1.8em;
        font-weight: 600;
        color: var(--Dark-Grayish-Blue);
        text-align: center;
        margin-bottom: 20px;
    }

    .download-text p {
        font-size: 1.2em;
        color: var(--Grayish-Blue);
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        max-width: 320px;
        margin-bottom: 80px;
    }

    .download-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .download-button-ios {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--Strong-Cyan);
        border-radius: 28px;
        width: 311px;
        height: 56px;
        border: none;
        font-size: 1.2em;
        text-align: center;
        font-weight: 500;
        color: white;
    }

    .download-button-mac {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--Light-Blue);
        border-radius: 28px;
        width: 311px;
        height: 56px;
        border: none;
        font-size: 1.2em;
        text-align: center;
        font-weight: 500;
        color: white;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        background-color: #9fabb222;
        min-height: 60vh;
    }

    .footer-img img {
        width: 70px;
        margin-top: 60px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        margin-top: 20px;
    }

    .footer-links a {
        font-size: 1.2em;
        color: var(--Dark-Grayish-Blue);
    }

    .footer-redes-sociais {
        display: flex;
        justify-content: center;
        gap: 50px;

        margin-top: 30px;
        margin-bottom: 40px;
    }

    .footer-redes-sociais img {
        width: 30px;
    }
}